body {
	background-color: #1f2b2b;
	color: white;
	border: 3px solid teal;
	border-radius: 10px;
	font-family: Arial;
}
h1 {
	text-align: center;
	font-size: 3em;
	text-decoration: underline;
}
p {
	text-align: center;
	font-size: 1.2em;
}
a {
	text-align: center;
	background-color: teal;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	padding: 10px;
	outline: none;
}
a:hover {
	background-color: #007373;
}
a:active {
	background-color: #005c5c;
}
footer {
	margin-top: 35%;
	padding: 20px 10px;
}